<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <div class="title">
                            <h2 class="one">A LITTLE BIT ABOUT</h2><h2 class="two">US</h2>
                        </div>
                        <div class="text">
                            <p>As part of the A1 Group, A1 Signs is a one stop shop for all of your signage needs. We specialise in the construction industry but cater to all aspects of signage and design. </p>
                            <p>Our sister company A1 Tools & Fixings has been serving the construction industry for over 15 years and has built many strong relationships during that time. We pride ourselves on our products and service.</p>
                        </div>
                        <div class="title pd">
                            <h2>PRIDE IN PRODUCT</h2><span>PRIDE IN SERVICE</span>
                        </div>
                        <div class="text">
                            <p>All of our signs are made of the highest quality materials on the market and printed with the latest UV Technology, making them harder wearing and longer lasting than the industry standard.</p>
                            <p>We take the same pride in our service. All of our signs are eyeletted free of charge for ease of installing and although we have a lead time of 3-5 working days, we aim to get your signs to you by the next day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>