<section id="custom-sign2">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>custom signs</h2>
                        </div>
                        <div class="text">
                            <p>Whether you need to direct people to the toilets, to the site office or to a diverted footpath, directional signs are simple, bold and effective.</p>
                            <p class="blue bg">All of our signs come with the eyelets in each corner and the A1 watermark unless specified otherwise.</p>
                            <ul class="option">
                                <li><a href="#" class="active">custom signs</a></li>
                                <li><a href="#">template signs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="meterial">
                            <h2 class="sub-title">CHOOSE YOUR <span>meterial</span></h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="m-item">
                                        <img src="../images/otherpages/thickness.jpg" class="img-fluid" alt="">
                                        <div class="m-text">
                                            <h3 class="cmn">foamex <span>&#9432</span></h3>
                                        </div>
                                        <p class="common">*Most common</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="m-item">
                                        <img src="../images/otherpages//m1.jpg" class="img-fluid" alt="">
                                        <div class="m-text">
                                            <h3>self adhesive venyl <span>&#9432</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="m-item">
                                        <img src="../images/otherpages//m2.jpg" class="img-fluid" alt="">
                                        <div class="m-text">
                                            <h3>dibond <span>&#9432</span></h3>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center size-pad">
                        <h2 class="sub-title">CHOOSE YOUR <span>size</span></h2>
                        <div class="size bg">
                            <div class="row text-left">
                                <div class="col-lg-3 col-sm-3">
                                    <p>choose size: </p>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <input type="text" placeholder="width (mm)" class="s-mm">
                                </div>
                                <div class="col-lg-1 col-sm-1 text-center">
                                    <span>X</span>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <input type="text" placeholder="height (mm)" class="s-mm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="thickness">
                            <h2 class="sub-title">select your <span>thickness</span></h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="t-item">
                                        <div class="t-img">
                                            <img src="../images/otherpages/thickness.jpg" 
                                            class="img-fluid" alt="">
                                        </div>
                                        <div class="tips">
                                            <h3 class="cmn">3MM <span>&#9432</span></h3>
                                            <div class="text t-cmn">
                                                <div class="text-bg">
                                                    <h4>lorem ipsum <span>&#9432</span></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, deleniti.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="common">*Most common</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="t-item">
                                        <div class="t-img">
                                            <img src="../images/otherpages/thickness.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="tips">
                                            <h3>5MM <span>&#9432</span></h3>
                                            <div class="text">
                                                <div class="text-bg">
                                                    <h4>lorem ipsum <span>&#9432</span></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, deleniti.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="t-item">
                                        <div class="t-img">
                                            <img src="../images/otherpages/thickness.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="tips">
                                            <h3>10MM <span>&#9432</span></h3>
                                            <div class="text">
                                                <div class="text-bg">
                                                    <h4>lorem ipsum <span>&#9432</span></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, deleniti.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center film-pad">
                        <h2 class="sub-title">CHOOSE YOUR <span>LAMINATE/PROTECTIVE FILM</span></h2>
                        <div class="film">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="f-item">
                                        <img src="../images/otherpages/film1.jpg" class="img-fluid" alt="">
                                        <div class="f-text">
                                            <h3 class="cmn">none <span>&#9432</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="f-item">
                                        <img src="../images/otherpages/film2.jpg" class="img-fluid" alt="">
                                        <div class="f-text">
                                            <h3>matt <span>&#9432</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="f-item">
                                        <img src="../images/otherpages/film3.jpg" class="img-fluid" alt="">
                                        <div class="f-text">
                                            <h3>gloss <span>&#9432</span></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="f-item">
                                        <img src="../images/otherpages/film4.jpg" class="img-fluid" alt="">
                                        <div class="f-text">
                                            <h3>dry wipe <span>&#9432</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h2 class="sub-title">CHOOSE the <span>finishing touches</span></h2>
                        <div class="finish">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="fn-item">
                                        <img src="../images/otherpages/ft1.jpg" class="img-fluid" alt="">
                                        <div class="fn-text">
                                            <h3>no fixings</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="fn-item">
                                        <img src="../images/otherpages/ft2.jpg" class="img-fluid" alt="">
                                        <div class="fn-text">
                                            <h3 class="cmn">EYELETS IN CORNER</h3>
                                        </div>
                                        <p class="common">*Most common / free of charge</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="fn-item">
                                        <img src="../images/otherpages/ft3.jpg" class="img-fluid" alt="">
                                        <div class="fn-text">
                                            <h3>SELF ADHESIVE TAPE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center print-pad">
                        <h2 class="sub-title">print & design<span> options</span></h2>
                        <div class="print">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="design bg">
                                        <a href="#">just print</a>
                                        <p>Select this option if you have print ready artwork. Please ensure that the dimensions, proportions, and quality have all been checked thoroughly before you send the artwork to us.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="design bg">
                                        <a href="#">design & print</a>
                                        <p>Select this option if you have print ready artwork. Please ensure that the dimensions, proportions, and quality have all been checked thoroughly before you send the artwork to us.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center art-pad">
                        <h2 class="sub-title">print & design<span> options</span></h2>
                        <div class="art">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="design bg">
                                        <a href="#">yes please</a>
                                        <p>For a small charge of £2.50 we will check your artwork and make sure it is set up correctly and will print perfectly. This is always recommended unless you a professional Graphic Designer</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="design bg">
                                        <a href="#">no thanks</a>
                                        <p>We will send your file straight into production. Please note if you choose this option we take no liability for blurry or discoloured images that is caused by the setup of your artwork.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 bg-pad">
                        <div class="bg-text bg">
                            <h4>any last words</h4>
                            <div class="text-nmbr">
                                <textarea rows="5" placeholder="Recommended 60 characters max..." class="nmbr"></textarea><span>10</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h2 class="sub-title logo">Do you want your company logo added?</h2>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 logo-part">
                                <p>Please note: You will be redirected after purchase to upload your logo file. We require it in EPS or hi-resolution PDF format</p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <ul class="yn">
                                    <li><a href="#">yes</a></li>
                                    <li><a href="#" class="active">no</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="basket bg">
                            <div class="row">
                                <div class="col-lg-8 col-md-7">
                                    <h2 class="sub-title">YOUR CUSTOM SIGN HAS BEEN CALCULATED AT:</h2>
                                    <p>This price has been calculated by our system by the specification you have chosen above. If you have any queries with the price, do not hesitate to call us for assistance.</p>
                                    <ul class="input-nmbr">
                                        <li><a href="#">-</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">+</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-5">
                                    <div class="total">
                                        <ul class="cost">
                                            <li><span>SUBTOTAL</span>£67.97</li>
                                            <li><span>vat</span>£13.59</li>
                                            <li><span>total</span>£81.55</li>
                                        </ul>
                                    </div>
                                    <div class="add">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    
<!-- ================ Best Selling/ bst-sel Signs & Subs Start =================== -->  
<section id="bst-sel">
    <div class="container for-space">
        <div class="row">
            <div class="col-lg-12">
                <div class="head text-center">
                    <h4>BEST SELLING <span>SIGNS</span></h4>
                </div>
            </div>
            
            
        </div>
        
        <div class="row bst-sel-sliderr">
          
          
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
             <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
           
            
            
            
            
            
            
        </div>
  <!-- ================ Subs  Start =================== -->        
        <div class="row subs">
            
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 for-bg">
         
                   
                         <div class="row">
                             <div class="col-xl-6 col-lg-5 col-md-6">

                                 <div class="txt">
                                     <p>Sign up for our latest offers
                                         and exclusive deals by email.</p>
                                 </div>
                             </div>
                             
                             <div class="col-xl-6 col-lg-7 col-md-6">
                                 
                             <div class="e-sub ">
                            <form action="">
                                <input type="email" placeholder="Email address">
                                <button type="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                             </div>
                         </div>
                    
                    </div>  
        </div>
 <!-- ================ Subs  Ends =================== -->          
    </div>
</section>