<section id="custom-sign">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>custom signs</h2>
                        </div>
                        <div class="text">
                            <p>Whether you need to direct people to the toilets, to the site office or to a diverted footpath, directional signs are simple, bold and effective.</p>
                            <p class="blue bg">All of our signs come with the eyelets in each corner and the A1 watermark unless specified otherwise.</p>
                            <ul class="option">
                                <li><a href="#">custom signs</a></li>
                                <li><a href="#" class="active">template signs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h2 class="sub-title">select your <span>template</span></h2>
                        <div class="template bg">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t1.jpg" class="img-fluid" alt="">
                                        <h3>cs001</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t2.jpg" class="img-fluid" alt="">
                                        <h3>cs002</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t3.jpg" class="img-fluid" alt="">
                                        <h3>cs003</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t4.jpg" class="img-fluid" alt="">
                                        <h3>cs004</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t5.jpg" class="img-fluid" alt="">
                                        <h3>cs005</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t6.png" class="img-fluid" alt="">
                                        <h3>cs006</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t7.png" class="img-fluid" alt="">
                                        <h3>cs007</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t8.png" class="img-fluid" alt="">
                                        <h3>cs008</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t9.jpg" class="img-fluid" alt="">
                                        <h3>cs009</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t10.jpg" class="img-fluid" alt="">
                                        <h3>cs0010</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t11.jpg" class="img-fluid" alt="">
                                        <h3>cs0011</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t12.png" class="img-fluid" alt="">
                                        <h3>cs0012</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t13.jpg" class="img-fluid" alt="">
                                        <h3>cs0013</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t14.jpg" class="img-fluid" alt="">
                                        <h3>cs0014</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t15.jpg" class="img-fluid" alt="">
                                        <h3>cs0015</h3>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                    <a href="#"><img src="../images/otherpages/t16.jpg" class="img-fluid" alt="">
                                        <h3>cs0016</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h2 class="sub-title">choose the size <span>( width X height )</span></h2>
                        <div class="bg-size bg">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 text-left">
                                    <p>Please note: These are template signs so they only come in a set proportion. If you would like a custom size, click 'Custom signs' at the top of the page. If you like to use a template format, type the CS code in the notes section at the bottom of the page.</p>
                                </div>
                                <div class="col-lg-5 col-md-5">
                                    <ul class="mm">
                                        <li><a href="#">300MM X 225MM</a></li>
                                        <li><a href="#">600MM X 450MM</a></li>
                                        <li><a href="#">900MM X 675MM</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h2 class="sub-title">choose your <span>icon</span></h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="icon">
                                    <li><a href="#"><img src="../images/otherpages/icon1.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon2.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon3.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon4.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon5.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon6.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon7.png" class="img-fluid" alt=""></a></li>
                                    <li class="small"><a href="#"><img src="../images/otherpages/icon7.png" class="img-fluid" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <ul class="icon">
                                    <li><a href="#"><img src="../images/otherpages/icon8.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon9.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon10.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon11.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon12.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon13.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon14.png" class="img-fluid" alt=""></a></li>
                                    <li class="small"><a href="#"><img src="../images/otherpages/icon14.png" class="img-fluid" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <ul class="icon">
                                    <li><a href="#"><img src="../images/otherpages/icon15.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon16.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon17.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon18.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon19.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon20.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon21.png" class="img-fluid" alt=""></a></li>
                                    <li class="small"><a href="#"><img src="../images/otherpages/icon21.png" class="img-fluid" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <ul class="icon">
                                    <li><a href="#"><img src="../images/otherpages/icon22.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon23.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon24.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon25.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon26.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon27.png" class="img-fluid" alt=""></a></li>
                                    <li><a href="#"><img src="../images/otherpages/icon28.png" class="img-fluid" alt=""></a></li>
                                    <li class="small"><a href="#"><img src="../images/otherpages/icon28.png" class="img-fluid" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h2 class="sub-title">choose your <span>text</span></h2>
                        <div class="bg-text bg text-left">
                            <h3>TYPE YOUR TEXT</h3>
                            <div class="text-nmbr">
                                <textarea rows="5" placeholder="Recommended 60 characters max..." class="nmbr"></textarea><span>10</span>
                            </div>
                            <h3>NOTES FOR THE DESIGNER</h3>
                            <textarea rows="4" placeholder="Do you want the text on 2 lines? Or certain words as a title?..."></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h2 class="sub-title logo">Do you want your company logo added?</h2>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 logo-part">
                                <p>Please note: You will be redirected after purchase to upload your logo file. We require it in EPS or hi-resolution PDF format</p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <ul class="yn">
                                    <li><a href="#">yes</a></li>
                                    <li><a href="#" class="active">no</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="basket bg">
                            <div class="row">
                                <div class="col-lg-8 col-md-7">
                                    <h2 class="sub-title">YOUR CUSTOM SIGN HAS BEEN CALCULATED AT:</h2>
                                    <p>This price has been calculated by our system by the specification you have chosen above. If you have any queries with the price, do not hesitate to call us for assistance.</p>
                                    <ul class="input-nmbr">
                                        <li><a href="#">-</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">+</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-5">
                                    <div class="total">
                                        <ul class="cost">
                                            <li><span>SUBTOTAL</span>£67.97</li>
                                            <li><span>vat</span>£13.59</li>
                                            <li><span>total</span>£81.55</li>
                                        </ul>
                                    </div>
                                    <div class="add">
                                        <a href="#">add to basket</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>