<section id="design">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="one">THE PASSION FOR</h2><h2 class="two">DESIGN</h2>
                        </div>
                        <div class="text">
                            <p class="padd p-30">Our in-house design team bring a wealth of experience and knowledge to the 'Design' half of A1 Signs and Design. Every sign is expertly spaced and aligned to crate the high quality sinage that we are passionate about. We work with a large variety of Corporate Brands and can adopt your Brand Identity very quickly.</p>
                            <p class="padd">Beyond signs, our team are experienced and active in the marketing world, and would be very happy to discuss any requirements you have for your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 v-pad">
                        <div class="title pd">
                            <h2>vehicle signage</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="text">
                                    <h3>Transform your van into a rolling </h3>
                                    <h3>advertisement!</h3>
                                    <p>From one off stickers to complete fleet liveries, we can consult, design and fit vehicle signwriting and wraps that will transform your van or car into a rolling advertisement for the road!</p>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <img src="../images/otherpages/car.png" class="img-fluid car" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="title pd m30">
                            <h2>hoarding</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text">
                                    <h3>The Future of Construction</h3>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="text">
                                    <p>Hoarding has become a staple of all large construction sites, to improve the visual look of the area and promote the future development. We are proud to offer a full design to print Hoarding service on a variety of materials to match your budget.</p>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <img src="../images/otherpages/home1.png" class="img-fluid" alt="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="title pd">
                            <h2>we also do</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-6 small-bg">
                                <div class="text">
                                    <h3>banners</h3>
                                    <p>Printed onto the toughest grade PVC outdoor banner material and finished with reinforced edges and eyelets as standard, our Mesh Banners will outlast the toughest of construction sites! We also offer roller banners, scaffold banners and printed Heras Fencing banners for larger surfaces that require wind to pass through. </p>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6">
                                <img src="../images/otherpages/net1.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-5 col-md-6 text-right big-bg">
                                <div class="text">
                                    <h3>banners</h3>
                                    <p>Printed onto the toughest grade PVC outdoor banner material and finished with reinforced edges and eyelets as standard, our Mesh Banners will outlast the toughest of construction sites! We also offer roller banners, scaffold banners and printed Heras Fencing banners for larger surfaces that require wind to pass through. </p>
                                </div>
                            </div>
                            <div class="col-lg-12 last">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="text">
                                            <h3>Corporate Catalogues</h3>
                                            <p>For customers with a large turnover of signs we offer bespoke Corporate Catalogues with all of your branded signs inside. These are great to distribute to Site Managers for ease of ordering.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <img src="../images/otherpages/book.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>