<section id="faq">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>faq's</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header active bg" id="headingOne">
                                    <h2>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            QUESTIONS ABOUT SIGNS
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">sign <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            QUESTIONS ABOUT DELIVERIES
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">delivery <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            QUESTIONS ABOUT artwork
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">artwork <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>