<section id="faq">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2>faq's</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header active bg" id="headingOne">
                                    <h2>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            QUESTIONS ABOUT SIGNS
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">sign <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            QUESTIONS ABOUT DELIVERIES
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">delivery <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            QUESTIONS ABOUT artwork
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="sub-title">artwork <span>faq's</span></h2>
                                        </div>
                                        <div class="col-lg-12 question">
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE BEST MATERIAL FOR FIXING TO BRICKS?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                            <h3>WHATS THE STRONGEST MATERIAL?</h3>
                                            <p>There is not a #1 material as such, they all have different properties for different applications  Foamex is the most common material, it is a dense foam which is flexible but strong. Dibond is a stonger alternative as it is made of Aluminium composite, but it also more expensive.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
<!-- ================ Best Selling/ bst-sel Signs & Subs Start =================== -->  
<section id="bst-sel">
    <div class="container for-space">
        <div class="row">
            <div class="col-lg-12">
                <div class="head text-center">
                    <h4>BEST SELLING <span>SIGNS</span></h4>
                </div>
            </div>
            
            
        </div>
        
        <div class="row bst-sel-sliderr">
          
          
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
             <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
           
            
            
            
            
            
            
        </div>
  <!-- ================ Subs  Start =================== -->        
        <div class="row subs">
            
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 for-bg">
         
                   
                         <div class="row">
                             <div class="col-xl-6 col-lg-5 col-md-6">

                                 <div class="txt">
                                     <p>Sign up for our latest offers
                                         and exclusive deals by email.</p>
                                 </div>
                             </div>
                             
                             <div class="col-xl-6 col-lg-7 col-md-6">
                                 
                             <div class="e-sub ">
                            <form action="">
                                <input type="email" placeholder="Email address">
                                <button type="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                             </div>
                         </div>
                    
                    </div>  
        </div>
 <!-- ================ Subs  Ends =================== -->          
    </div>
</section>