<footer>
    <div class="footer-info">
       <div class="container" style="background: none;">
       <div class="row">
        <div class="col-lg-2 col-md-3 col-6 order-md-first">
            <div class="product">
                <div class="head">
                    <h6>Products</h6>
                    <ul>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Vehicles</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-lg-2 col-md-3 col-6 order-md-2">
            <div class="help">
                <div class="head">
                    <h6>Help</h6>
                    <ul>
                        <li><a href="#">FAQ'S</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 order-first order-md-3">
            <div class="about">
                <div class="head">
                    <h6>About</h6>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Corporate</a></li>
                        <li><a href="#">Contact us</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
        
         <div class="col-lg-2 offset-lg-3 col-md-3 col-6 order-first order-md-4">
            <div class="loc ">
                 <div class="head">
                    <h6>Our Location</h6>
                    <p>A1 Signs & Design
                        29 Soothouse Spring
                        St Albans
                        AL3 6PF</p>
                </div>
                
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 order-md-5">
            <div class="ph">
                 <div class="cntnt">
                   <a href="tel:01727 811999">01727 811999</a>
                    <a href="mailto:sales@a1signsanddesign.com" style="background: #ed1c24;">sales@a1signsanddesign.com</a>
                   
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer> 