<section id="c-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>Customer Login</h4>
                </div>
                
                <div class="co-lg-12">
                    <div class="content">
                        <div class="txt">
                            <h5>Please Login in</h5>
                        </div>
                        <div class="col-lg-12 p-0">
                            
                        <input type="text" placeholder="EMAIL ADDRESS:">
                        </div>
                        <div class="col-lg-12 p-0">
                            
                        <input type="password" placeholder="PASSWORD:">
                        </div>
                        <button>Log In</button>
                        <ul>
                            <li>New Customer?</li>
                            <li><a href="register.html">Register here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  