  <section id="account-setting" class="payment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ac-s">
                        <div class="col-lg-12 p-xs-0">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="account-head">
                                        <h2 class="d-none d-md-block">Account <br> settting</h2>
                                        <h2 class="d-md-none d-lg-none d-xl-none">Payment setting</h2>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 p-xs-0">
                                    <div class="search-bar d-none d-md-block">
                                        <form action="#" method="post">
                                            <input type="text" placeholder="Search reference numbers, signs etc ......"
                                                name="search" required id="">
                                            <button type="submit">search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="add-address">
                                <ul class="d-flex">
                                    <li>ADD NEW PAYMENT DETAILS</li>
                                    <li class="plus"><a href="#"><i class="fas fa-plus"></i></a></li>

                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="acc-others d-none d-md-block">
                                        <div class="your-acc">
                                            <h3>YOUR ACCOUNT</h3>
                                            <span>#245682</span>
                                        </div>
                                        <div class="acc-menu">
                                                <ul>
                                                        <li><a href="./order.html">Orders</a></li>
                                                        <li><a href="./delivery.html">Delivery Address</a></li>
                                                        <li><a href="">Concerns</a></li>
                                                        <li><a href="./request-quote.html">Request a QUOTE</a></li>
                                                        <li><a href="./Comunication-settings.html">Communication
                                                                SETTINGS</a>
                                                        </li>
                                                        <li><a class="active" href="./payment.html">Payment Settings</a></li>
                                                        <li><a href="./discount.html">MY DISCOUNT </a></li>
                                                        <li><a href="./account-setting.html">Account Settings</a>
                                                        </li>
                                                        <li><a href="">Sign Builder</a></li>
                                                        <li><a href="">LOG OUT</a></li>
        
                                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="accoutn-info">
                                        <div class="pay-head d-md-none d-lg-none d-xl-none">
                                            <h4>DEFAULT PAYMENT METHOD</h4>
                                        </div>
                                        <div class="inner-info">
                                            <div class="acc1 pr">
                                                <div class="pay-head d-none d-lg-block">
                                                    <h4>DEFAULT PAYMENT METHOD</h4>
                                                </div>
                                                <div class="pay-cdop">
                                                    <div class="card-item d-none d-md-block">
                                                        <ul class="d-flex">
                                                            <li><a href="./payment.html">CREDIT/DEBIT CARD </a></li>
                                                            <li><a class="pay-active" href="./paymentA1card.html">A1 CREDIT ACCOUNT </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-item d-md-none d-lg-none d-xl-none">
                                                        <ul class="d-flex">
                                                            <li><a href="./payment.html">CARD </a></li>
                                                            <li><a class="pay-active" href="./paymentA1card.html">A1 CREDIT</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-det">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-6">
                                                                <div class="det">
                                                                    <ul>
                                                                        <li class="c-type">ACCOUNT NUMBER</li>
                                                                        <li>MasterCard</li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="c-type">PIN CODE</li>
                                                                        <li>*******</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div class="edit-remove">
                                                                    <ul>
                                                                        <li><a class="remove" href="">remove</a></li>
                                                                        <li><a href="./payment-method-edit2.html">edit</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
  
<!-- ================ Best Selling/ bst-sel Signs & Subs Start =================== -->  
<section id="bst-sel">
    <div class="container for-space">
        <div class="row">
            <div class="col-lg-12">
                <div class="head text-center">
                    <h4>BEST SELLING <span>SIGNS</span></h4>
                </div>
            </div>
            
            
        </div>
        
        <div class="row bst-sel-sliderr">
          
          
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
             <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-3.png" class="img-fluid" alt="">
                       <p>A1-EM027</p>
                       <a href="#">SEE MORE EMERGENCY</a>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-2.png" class="img-fluid" alt="">
                       <p>A1-WA008</p>
                       <a href="#">SEE MORE WARNING</a>
                    </div>
                </div>
            </div>
            
           
            <div class="col-lg-4">
                <div class="content">
                    <div class="txt">
                      <img src="../images/bst-sel-slider-1.png" class="img-fluid" alt="">
                       <p>A1-DR001</p>
                       <a href="#">SEE MORE DIRECTIONAL</a>
                    </div>
                </div>
            </div>
            
            
           
            
            
            
            
            
            
        </div>
  <!-- ================ Subs  Start =================== -->        
        <div class="row subs">
            
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 for-bg">
         
                   
                         <div class="row">
                             <div class="col-xl-6 col-lg-5 col-md-6">

                                 <div class="txt">
                                     <p>Sign up for our latest offers
                                         and exclusive deals by email.</p>
                                 </div>
                             </div>
                             
                             <div class="col-xl-6 col-lg-7 col-md-6">
                                 
                             <div class="e-sub ">
                            <form action="">
                                <input type="email" placeholder="Email address">
                                <button type="submit">SUBSCRIBE</button>
                            </form>
                        </div>
                             </div>
                         </div>
                    
                    </div>  
        </div>
 <!-- ================ Subs  Ends =================== -->          
    </div>
</section>

<!-- ================ Best Selling/bst-sel  Signs & Subs Ends =================== -->  