 <section id="register">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="head">
                      <h4>Customer Register</h4>
                  </div>
              </div>
              
              <div class="col-lg-12">
                  <div class="content">
                      <ul>
                          <li><a href="soletrader-register.html" class="active">Are you a soletrader</a></li>
                          <li><a href="business-register.html">Are you a Business</a></li>
                      </ul>
                      <p>Already have an account? <a href="#">Sign in</a></p>
                      <p>Already an existing customer with A1 Tools & Fixings? <a href="#">Click here</a></p>
                  </div>
              </div>
              
              <div class="col-lg-12">
                  <div class="txt">
                      <h6>01727 811999</h6>
                      <p>sales@a1signsanddesign.com</p>
                  </div>
              </div>
          </div>
      </div>
  </section>