<section id="account-setting" class="paymentedit request">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ac-s">
                        <div class="col-lg-12 p-xs-0">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="account-head">
                                        <h2 class="d-none d-md-block">Account <br> settting</h2>
                                        <h2 class="d-md-none d-lg-none d-xl-none">REQUEST A QUOTE</h2>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 p-xs-0">
                                    <div class="search-bar d-none d-md-block">
                                        <form action="#" method="post">
                                            <input type="text" placeholder="Search reference numbers, signs etc ......"
                                                name="search" required id="">
                                            <button type="submit">search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="acc-others d-none d-md-block">
                                        <div class="your-acc">
                                            <h3>YOUR ACCOUNT</h3>
                                            <span>#245682</span>
                                        </div>
                                        <div class="acc-menu">
                                                <ul>
                                                        <li><a href="./order.html">Orders</a></li>
                                                        <li><a href="./delivery.html">Delivery Address</a></li>
                                                        <li><a href="">Concerns</a></li>
                                                        <li><a class="active" href="./request-quote.html">Request a QUOTE</a></li>
                                                        <li><a href="./Comunication-settings.html">Communication
                                                                SETTINGS</a>
                                                        </li>
                                                        <li><a href="./payment.html">Payment Settings</a></li>
                                                        <li><a href="./discount.html">MY DISCOUNT </a></li>
                                                        <li><a href="./account-setting.html">Account Settings</a>
                                                        </li>
                                                        <li><a href="">Sign Builder</a></li>
                                                        <li><a href="">LOG OUT</a></li>
        
                                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="accoutn-info">
                                        <div class="acount-info-c d-md-none d-lg-none d-xl-none">
                                            <a href="#" class="acc-in d-none d-md-block secondary edit-h">REQUEST A
                                                QUOTE</a>
                                        </div>
                                        <div class="inner-info" style="background: none;">
                                            <div class="acc1 pr">
                                                <div class="request-sent text-center">
                                                    <img src="../images/request/icon.png" alt="">
                                                    <h4>THE REQUESTED QUOTE HAS BEEN SENT </h4>
                                                    <p>Thank you for your enquiry. We will endeavor to get back to you
                                                        within 24 hours. Please check your email inbox for updates.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-address">
                                    <ul class="d-flex">
                                        <li>add new request</li>
                                        <li class="plus"><a href="#"><i class="fas fa-plus"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>