<!------------- banner section start ------------->
<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-banner d-shadow slider-active">
                    <div class="banner-img one">
                        <div class="banner-content">
                            <h1>SPECIALISTS IN THE</h1> <br>
                            <div class="tab d-none d-md-block">
                                <h2>H&S & CONSTRUCTION INDUSTRY</h2>
                            </div>

                            <div class="sub-head d-md-none d-lg-none d-xl-none">
                                    <h2 class="">H&S & CONSTRUCTION <span
                                        class="d-none">INDUSTRY</span></h2>
                            </div>
                            <div class="sub-sp d-md-none d-lg-none d-xl-none d-sm-block">
                                    <span class="">INDUSTRY</span> <br>
                            </div>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="banner-img two">
                        <div class="banner-content">
                            <h1>SPECIALISTS IN THE</h1> <br>
                            <div class="tab d-none d-md-block">
                                <h2>H&S & CONSTRUCTION INDUSTRY</h2>
                            </div>

                            <div class="sub-head d-md-none d-lg-none d-xl-none">
                                    <h2 class="">H&S & CONSTRUCTION <span
                                        class="d-none">INDUSTRY</span></h2>
                            </div>
                            <span class="d-md-none d-lg-none d-xl-none">INDUSTRY</span> <br>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="banner-img three">
                        <div class="banner-content">
                            <h1>SPECIALISTS IN THE</h1> <br>
                            <div class="tab d-none d-md-block">
                                <h2>H&S & CONSTRUCTION INDUSTRY</h2>
                            </div>

                            <h2 class="d-md-none d-lg-none d-xl-none d-sm-block">H&S & CONSTRUCTION <span
                                    class="d-none">INDUSTRY</span></h2>
                            <span class="d-md-none d-lg-none d-xl-none d-sm-block">INDUSTRY</span> <br>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------- banner section end ------------->

<!------------- search category section start ------------->
<section id="searchctg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ctg-content">
                    <div class="section-head text-center">
                        <h2>SEARCH BY <span>CATEGORY</span></h2>
                    </div>
                    <div class="ctg-main-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center one">
                                    <a href="">DIRECTIONAL</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center two">
                                        <a href="">SITE INFORMATION</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center three">
                                    <a href="">MANDATORY</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center four">
                                    <a href="">WARNING</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 five">
                                    <a href="">PROHIBITION</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 six">
                                    <a href="">EMERGENCY</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 seven">
                                    <a href="">WASTE</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 eight">
                                    <a href="">WELFARE</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 nine">
                                    <a href="">NOTICE BOARDS</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 ten">
                                    <a href="">VINYL STICKERS</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 ele">
                                    <a href="">GLOW IN THE DARK</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center r2 twilve">
                                    <a href="">ROAD SIGNS</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center thirteen">
                                    <a href="">SIGN PACKS</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center fourteen">
                                    <a href="">BANNERS</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center fifteen">
                                    <a href="">MAGNETIC</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="cgt-con text-center sixteen">
                                    <a href="">CUSTOM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------- search category section end ------------->
<!------------- product and service details section start ------------->
<section id="product-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ps-content pr">
                    <ul class="nav pa nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">PRIDE IN PRODUCT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">PRIDE IN SERVICE</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <p>All of our signs are made of the highest quality materials on the market and printed
                                with the latest UV Technology, making them harder wearing and longer lasting than
                                the industry standard.</p>
                            <p class="lst">
                                We take the same pride in our service. All of our signs are eyeletted free of charge
                                for ease of installing and although we have a lead time of 3-5 working days, we aim
                                to get your signs to you by the next day.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <p>All of our signs are made of the highest quality materials on the market and printed
                                with the latest UV Technology, making them harder wearing and longer lasting than
                                the industry standard.</p>
                            <p class="lst">
                                We take the same pride in our service. All of our signs are eyeletted free of charge
                                for ease of installing and although we have a lead time of 3-5 working days, we aim
                                to get your signs to you by the next day.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------- product and service details section end ------------->

<!------------- offer section start ------------->
<section id="offer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="offers">
                    <div class="offer-img pr">
                        <%= image_tag "home/banner.jpg", width: "100%", alt: "offer" %>
                        <div class="overlay pa">
                            <div class="offer-content text-center">
                                <h1>SPECIALISTS IN THE</h1> <br>
                                <h2>H&S & CONSTRUCTION INDUSTRY</h2> <br>
                                <a href="#">get offer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------- offer section end ------------->
<!------------- custom sign section start ------------->
<section id="customsign">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="customsign-c">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="sign-content">
                                <a href="">custom signs</a>
                                <p>Choose the size, colour, icon, words, and even include your company logo. Create
                                    your own sign to exact specifications with our sign builder.</p>
                                <div class="sign text-right">
                                    <a href="" class="sign-c">make a sign</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="worning">
                                <%= image_tag "home/worning.jpg", alt: "", width: "100%" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------- custom sign section end -------------> 
