<section id="basket-con">
    <div class="container forpd">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>Your Basket</h4>
                </div>
            </div>
        </div>
    <!--   main content starts     -->
        <div class="row">
            <div class="col-lg-12 forp0">
                <div class="row wbg ">
                    <div class="col-md-3 col-6">
                        <div class="wrn">
                            <img src="../images/checkout/basket/wrn-pic.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    
                     <div class="col-md-3 col-6">
                        <div class="spec">
                            <h4>Specification</h4>
                            <div class="cntnt">
                                <h6>A1 DR001</h6>
                                <p>600mm X 450mm</p>
                                <p>3mm Foamex</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="fix">
                            <h4>FIXING</h4>
                            <ul>
                                <li class="active"><button>EYELETS</button></li>
                                <li><button>DOUBLE SIDED TAPE</button></li>
                                <li><button>NO FIXING</button></li>
                            </ul>
                        </div>
                    </div>
                    
                      
                    <div class="col-md-3 col-6">
                        <div class="quant">
                            <h4>QUANTITY</h4>
                            <div class="btns">
                              <ul>
                                  <li><button>+</button></li>
                                  
                                  <li><button>1</button></li>
                                  <li><button>-</button></li>
                              </ul>
                            </div>
                            <span>£16.99</span>
                        </div>
                    </div>

                    <button class="close-btn">
                                            
                    <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            
            
            <div class="col-lg-12 forp0">
                <div class="row wbg ">
                    <div class="col-md-3 col-6">
                        <div class="wrn">
                            <img src="../images/checkout/basket/wrn-pic.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    
                     <div class="col-md-3 col-6">
                        <div class="spec">
                            <h4>Specification</h4>
                            <div class="cntnt">
                                <h6>A1 DR001</h6>
                                <p>600mm X 450mm</p>
                                <p>3mm Foamex</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="fix">
                            <h4>FIXING</h4>
                            <ul>
                                <li class="active"><button>EYELETS</button></li>
                                <li><button>DOUBLE SIDED TAPE</button></li>
                                <li><button>NO FIXING</button></li>
                            </ul>
                        </div>
                    </div>
                    
                      
                    <div class="col-md-3 col-6">
                        <div class="quant">
                            <h4>QUANTITY</h4>
                            <div class="btns">
                              <ul>
                                  <li><button>+</button></li>
                                  
                                  <li><button>1</button></li>
                                  <li><button>-</button></li>
                              </ul>
                            </div>
                            <span>£16.99</span>
                        </div>
                    </div>

                    <button class="close-btn">
                                            
                    <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            
            
            
            
            <div class="col-lg-12 forp0">
                <div class="row wbg ">
                    <div class="col-md-3 col-6">
                        <div class="wrn">
                            <img src="../images/checkout/basket/wrn-pic.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    
                     <div class="col-md-3 col-6">
                        <div class="spec">
                            <h4>Specification</h4>
                            <div class="cntnt">
                                <h6>A1 DR001</h6>
                                <p>600mm X 450mm</p>
                                <p>3mm Foamex</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="fix">
                            <h4>FIXING</h4>
                            <ul>
                                <li class="active"><button>EYELETS</button></li>
                                <li><button>DOUBLE SIDED TAPE</button></li>
                                <li><button>NO FIXING</button></li>
                            </ul>
                        </div>
                    </div>
                    
                      
                    <div class="col-md-3 col-6">
                        <div class="quant">
                            <h4>QUANTITY</h4>
                            <div class="btns">
                              <ul>
                                  <li><button>+</button></li>
                                  
                                  <li><button>1</button></li>
                                  <li><button>-</button></li>
                              </ul>
                            </div>
                            <span>£16.99</span>
                        </div>
                    </div>

                    <button class="close-btn">
                                            
                    <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            
            
            
            
            
            <div class="col-lg-12 forp0">
                <div class="row wbg ">
                    <div class="col-md-3 col-6">
                        <div class="wrn">
                            <img src="../images/checkout/basket/wrn-pic.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    
                     <div class="col-md-3 col-6">
                        <div class="spec">
                            <h4>Specification</h4>
                            <div class="cntnt">
                                <h6>A1 DR001</h6>
                                <p>600mm X 450mm</p>
                                <p>3mm Foamex</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <div class="fix">
                            <h4>FIXING</h4>
                            <ul>
                                <li class="active"><button>EYELETS</button></li>
                                <li><button>DOUBLE SIDED TAPE</button></li>
                                <li><button>NO FIXING</button></li>
                            </ul>
                        </div>
                    </div>
                    
                      
                    <div class="col-md-3 col-6">
                        <div class="quant">
                            <h4>QUANTITY</h4>
                            <div class="btns">
                              <ul>
                                  <li><button>+</button></li>
                                  
                                  <li><button>1</button></li>
                                  <li><button>-</button></li>
                              </ul>
                            </div>
                            <span>£16.99</span>
                        </div>
                    </div>

                    <button class="close-btn">
                                            
                    <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            
            
            
        </div>
         <!--   main content ends     -->
         <div class="row sum">
             <div class="col-lg-3 col-md-4 p-0 offset-lg-9 offset-md-8 col-12">
                 <div class="heading">
                     <h6>SUMMARY</h6>
                 </div>
                 <div class="cntnt">
                     <ul>
                         <li>DELIVERY <span>£10.23</span></li>
                         <li>SUBTOTAL <span>£67.96</span></li>
                         <li>VAT <span>£13.59</span></li>
                     </ul>
                 </div>
                 <div class="total">
                     <ul>
                         <li>TOTAL</li>
                         <li style="font-family: fantasy;font-weight: 700;">£81.55</li>
                     </ul>
                 </div>
                 <div class="check">
                     <button>PURCHASE</button>
                 </div>
                 
                 <div class="cn-shop">
                     
                <a href="#">Continue shopping</a> <br>
                <a href="#">Edit basket</a>
                 </div>
             </div>
         </div>
    </div>
</section>