<section id="register">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="head">
                      <h4>Business LOGIN</h4>
                  </div>
              </div>
              
              <div class="col-lg-12">
                 
                
                  <div class="row content rg">
               
                         <div class="col-lg-6">
                           <label for="">First Name:</label>
                           <input type="text">
                       </div>
                       
                       <div class="col-lg-6">
                           <label for="">Last Name:</label>
                           <input type="text">
                       </div>
                       
                        <div class="col-lg-12">
                           <label for="">Company Name:</label>
                            <input type="text">
                        </div>
                        
                        <div class="col-lg-12">
                           <label for="">Email Address:</label>
                            <input type="email">
                        </div>
                        
                           <div class="col-lg-12">
                           <label for="">Phone Number:</label>
                            <input type="phone">
                        </div>
                        
                    
                        
                        
                        
                    <div class="col-lg-12">
                            <div class="reg-note">
                            <a href="#" class="reg-here">SUBMIT</a>
                            <p>New Customer? <a href="#">Register here</a></p>
                        </div>
                    </div>
                    
                    
                    
              
                  </div>
              </div>
              
        
            
          </div>
      </div>
  </section>