<section id="order-s" class="pymf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>BUSINESS LOG IN</h4>
                    
                </div>
            </div>
            </div>
<!-- main content start -->
            <div class="row">
                <div class="col-lg-12 for-bg" >
                    <div class="cntnt text-center">
                       <div class="icon">
                           <i class="fas fa-check"></i>
                       </div>
                        <div class="for-txt">
                            <p>THANK YOU FOR SUBMITTING YOUR ACCOUNT DETAILS</p>
                        </div>
                        <div class="click">
                            <p>A member of our team will be in contact within the next 24 hours via email or phone.</p>
                              <p>If you wish to process your order now,you can use this temporary <a href="#">Guest Checkout</a></p>
                        </div>
                    </div>
                    
                    
                </div>
                
                
              <div class="col-lg-12">
                  <div class="txt">
                      <h6>01727 811999</h6>
                      <p>sales@a1signsanddesign.com</p>
                  </div>
              </div>
            </div>
        
    </div>
</section>  