<section id="checkout">
    <div class="container forpd">
    <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>Checkout</h4>
                </div>
            </div>
        </div>
<!--     main content start   -->
        <div class="row">
            <div class="col-md-8">
            
            <div class="dl-ad" style="background: #4457bf;">
                <div class="heading">
                    <h5>DELIVERY ADDRESS</h5>
                </div>
                <div class="cntnt">
                    <p>Taylor O’Flanagan</p>
                    <p>Karbon Creative</p>
                    <p>Unit 29 Soothouse Spring</p>
                    <p>St Albans</p>
                    <p>AL3 6PF</p>
                    
                    <div class="edit-bttn">
                       <button>Edit</button>
                    </div>
                </div>
            </div>
  <!--        DELIVERY  ADDRESS Ends -->  
               
            <div class="bl-ad" style="background: #4457bf;">
                <div class="heading">
                    <h5>BILLING ADDRESS</h5>
                </div>
                <div class="cntnt">
                    <p>Taylor O’Flanagan</p>
                    <p>Karbon Creative</p>
                    <p>Unit 29 Soothouse Spring</p>
                    <p>St Albans</p>
                    <p>AL3 6PF</p>
                    
                    <div class="edit-bttn">
                       <button>Edit</button>
                    </div>
                </div>
            </div>
<!--        BILLING ADDRESS Ends -->
           
           <div class="pay-m" style="background: #4457bf;">
               <div class="heading">
                   <h5>PAYMENT METHOD</h5>
                   <div class="content" style="padding: 0;">
                      
                       <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                          
                           <li class="nav-item">
                               <a class="acc active" id="pills-cr-db-tab" data-toggle="pill" href="#pills-cr-db" role="tab" aria-controls="pills-cr-db" aria-selected="true">
                               CREDIT/DEBIT CARD 
                               </a>
                           </li>
                           
                           <li class="nav-item">
                               <a class="acc" id="pills-a1-cr-tab" data-toggle="pill" href="#pills-a1-cr" role="tab" aria-controls="pills-a1-cr" aria-selected="false">A1 CREDIT ACCOUNT</a>
                           </li>
                          
                           
                       </ul>
                       
                       
                       
                       <div class="tab-content" id="pills-tabContent">
                          
                           <div class="tab-pane fade show active" id="pills-cr-db" role="tabpanel" aria-labelledby="pills-cr-db-tab">
                           
                           <div class="row">
                               
                              <div class="col-md-12 p-md-0">
                               <div class="cntc">

                               <label for="">Card number :</label>
                               <input type="text">
                           </div>
                          </div>
                           
                                <div class="col-md-12 p-md-0">
                                <div class="cntc">

                               <label for="">CARD HOLDERS FULL NAME : </label>
                               <input type="text">
                           </div>
                            </div>
                            
                                <div class="col-md-6 pl-md-0">
                                    <div class="cntc">
                                    <label for="">EXPIRY DATE :</label>
                                    <input type="text">
                                    </div>
                                 </div>
                            
                            
                                 <div class="col-md-6 pr-md-0">
                                <div class="cntc">
                                    <label for="">CVC CODE :</label>
                                    <input type="text">
                                </div>
                            </div>
                            
                           </div>
                           
                           </div>
                           
                           
                           <div class="tab-pane fade" id="pills-a1-cr" role="tabpanel" aria-labelledby="pills-a1-cr-tab">
                                    
                           <div class="row">
                               
                              <div class="col-md-12 p-md-0">
                               <div class="cntc">

                               <label for="">A1 ACCOUNT NUMBER : </label>
                               <input type="text">
                           </div>
                          </div>
                           
                                <div class="col-md-12 p-md-0">
                                <div class="cntc">

                               <label for="">PIN : </label>
                               <input type="text">
                               
                           </div>
                            </div>
                            
                           <div class="col-lg-12">
                                <div class="invl-acc">
                             
                                    <p> <i class="fas fa-exclamation-circle"></i> INVALID ACCOUNT DETAILS</p>
                               
                            </div>
                           </div>
                               <div class="col-md-12">
                                  <div class="sign-up">
                                      <a href="#">Sign up for a credit account here</a>
                                  </div>
                               </div>
                           </div>
                               
                           </div>
                           
                           
                           
                       </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fst-check">
                                
                            <p>Fast Checkout</p>
                            <a href="#"><img src="../images/checkout/checkout/paypal.png" class="img-fluid" alt=""></a>
                            </div>
                        </div>
                        
                          <div class="col-md-6">
                         <div class="we-acc">
                                <p>We Accept :</p>
                           <ul>
                               <li>
                               <a href="#"><img src="../images/checkout/checkout/visa.jpg" class="img-fluid" alt=""></a>
                               </li>
                               
                               <li>
                               <a href="#"><img src="../images/checkout/checkout/card-2.jpg" class="img-fluid" alt=""></a>
                               </li>
                               
                               
                               <li>
                               <a href="#"><img src="../images/checkout/checkout/card-3.jpg" class="img-fluid" alt=""></a>
                               </li>
                           </ul>
                           
                           <button>Purchase</button>
                           
                         </div>
                        </div>
                    </div>

                   </div>
               </div>
           </div>
            </div>
            
            
            
            
            
            
            <div class="col-md-4">
                <div class="sum">
                 <div class="heading">
                     <h6>SUMMARY</h6>
                 </div>
                 <div class="cntnt">
                     <ul>
                         <li>DELIVERY <span>£10.23</span></li>
                         <li>SUBTOTAL <span>£67.96</span></li>
                         <li>VAT <span>£13.59</span></li>
                     </ul>
                 </div>
                 
                 <div class="disc">
                     <h6>Discount Code</h6>
                     <input type="text" value="20% OFF APPLIED">
                 </div>
                 
                 <div class="total">
                     <ul>
                         <li>TOTAL</li>
                         <li style="font-family: fantasy;font-weight: 700;">£61.59</li>
                     </ul>
                 </div>
                 <div class="check">
                     <button>PURCHASE</button>
                 </div>
                 
                 <div class="cn-shop">
                     
                <a href="#">Continue shopping</a> <br>
                <a href="#">Edit basket</a>
                 </div>
             </div>
            </div>
            
        </div>
        
        
    </div>
</section>   