<section id="order-s" class="pymf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>CUSTOMER REGISTER</h4>
                    
                </div>
            </div>
            </div>
<!-- main content start -->
            <div class="row">
                <div class="col-lg-12 for-bg" >
                    <div class="cntnt text-center">
                       <div class="icon">
                           <i class="fas fa-check"></i>
                       </div>
                        <div class="for-txt">
                            <p>YOU HAVE SUCCESSFULLY REGISTERED YOUR ACCOUNT</p>
                        </div>
                        <div class="click">
                            <p>Please check your email inbox for a verification email.</p>
                            <p>Then click the link to confirm your account</p>
                        </div>
                    </div>
                    
                    
                </div>
                
                
              <div class="col-lg-12">
                  <div class="txt">
                      <h6>01727 811999</h6>
                      <p>sales@a1signsanddesign.com</p>
                  </div>
              </div>
            </div>
        
    </div>
</section>  