<section id="order-s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>Order Successful</h4>
                    <p>Don’t forget to upload your artwork(s) or logo files here if you have ordered custom signs!</p>
                </div>
            </div>
            </div>
<!-- main content start -->
            <div class="row">
                <div class="col-lg-12 for-bg" >
                    <div class="cntnt text-center">
                    <div class="main">
                        
                        <div class="col-lg-12">
                            <div class="choose_file">
                                <span><i class="fas fa-plus"></i></span>
                                <input name="Select File" type="file" >
                            </div>
                             <p class="up">Drop files into this box or click the add symbol browse for them</p>
                        </div>

                    </div>
                    
                                            
                        <div class="col-lg-12 p-0">
                            <div class="text">
                                <p>Successfully uploaded files</p>
                                <a href="#">- Sign template 001</a>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        
    </div>
</section>  