<section id="order-s" class="pymf">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h4>PAYMENT FAILED</h4>
                    
                </div>
            </div>
            </div>
<!-- main content start -->
            <div class="row">
                <div class="col-lg-12 for-bg" >
                    <div class="cntnt text-center">
                       <div class="icon">
                            <i class="fas fa-times"></i>
                       </div>
                        <div class="for-txt">
                            <p>THE PAYMENT FAILED, PLEASE TRY AGAIN OR CONTACT US</p>
                        </div>
                        <div class="click">
                            <p> <a href="#">Click here</a> to go back to the checkout page and restart the payment process.
                            If problems still persist please contact us.</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        
    </div>
</section>  