.styled-input-single {
  position: relative;
  padding: 0px 0 10px 0px;
  text-align: left;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.styled-input-single label {
  cursor: pointer;
    margin: 0;
    text-align: right;
}
.styled-input-single label:before{
      content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
} 
.styled-input-single label:after {
  content: '';
  position: absolute;
  top: 12%;
    right: 3px!important;
  border-radius: 50%;
}
.styled-input-single label:before {
    top: 16px;
  right: 0;
  width: 18px;
  height: 18px;
  margin: -15px 0 0;
  background: #f7f7f7;
  box-shadow: 0 0 1px grey;
}
.styled-input-single label:after {
  right: 5px;
  width: 12px;
  height: 12px;
  opacity: 0;
  background: #4356be;
  -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
          transform: translate3d(-40px, 0, 0) scale(0.5);
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.styled-input-single input[type="radio"],
.styled-input-single input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}
.styled-input-single input[type="radio"]:checked + label:after,
.styled-input-single input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.styled-input--square label:before, .styled-input--square label:after {
  border-radius: 0;
}

.styled-input--rounded label:before {
  border-radius: 10px;
}
.styled-input--rounded label:after {
  border-radius: 6px;
}

.styled-input--diamond .styled-input-single {
  padding-left: 45px;
}
.styled-input--diamond label:before, .styled-input--diamond label:after {
  border-radius: 0;
}
.styled-input--diamond label:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.styled-input--diamond input[type="radio"]:checked + label:after,
.styled-input--diamond input[type="checkbox"]:checked + label:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
